<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="d:\temp\Contoso_University_SQL.txt">
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file 
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}" />
     -->
    <target xsi:type="File" name="allOutputs" fileName="d:/temp/aspnet_core_logs/contoso_university/${shortdate}.log"
            layout="${longdate} ${aspnet-request:servervariable=URL} - ${logger} - ${uppercase:${level}} ${message}" />

  </targets>

  <rules>
<!--    
    <logger name="*" minlevel="Trace" writeTo="allOutputs" />
-->    
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="allOutputs" />
    
  </rules>  
</nlog>